<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Gundams For Collectors</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div class="brand">
        <button onclick="openMenu()">&#9776;</button>
          <a class="brand" href="index.html">Gundam's Ecommerce</a>
        </div>
        <div>
          <a href="home.html">Home</a>
          <a href="cart.html">Cart</a>
          <a href="signin.html">SignIn</a>
          <a href="admin.html">Admin</a>

        </div>
      </header>
      <aside class="sidebar">
      <h3>Models Kits</h3>
      <button class="sidebar-close-button" onclick="closeMenu()">x</button>
      <ul>
      <li>
      <a href="index.html"> - METAL FRAME MODELS</a>
      </li>
      <li>
      <a href="index.html"> - CUSTOM BUILD MODELS</a>
      </li>
      <li>
      <a href="index.html"> - MASTER GRADE MODELS</a>
      </li>
      </ul>
      </aside>
      <main>
        <div>
          <div class="row center">
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src=".\Images\AstrayBlueFrameSecondReviseGundam_MG-609984.png" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Astray Blue Frame Second Revise</h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">$165.00CAN</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src=".\Images\UnicornGundam_03Phenex.png" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Unicorn Phenex Gundam </h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">$185.00CAN</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src=".\Images\StrikeFreedomGundam_ZGMF-X20A.png" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Strike Freedom Gundam </h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">$180.00CAN</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src=".\Images\ShinMushaGundam_MG-582119.png" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Shin Musha Gundam </h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">$125.00CAN</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src=".\Images\JusticeGundam_ZAFT.png" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Justice Gundam Master Grade </h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">$140.00CAN</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src=".\Images\00RiserGundam_GN-0000.png" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>00 Riser Gundam Master Grade </h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star-half-o"></i> </span>
                </div>
                <div class="price">$200.00CAN</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src=".\Images\DestinyGundam_ZGMF-X42S.png" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Destiny Gundam ZGMF-X42S  </h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">$135.00CAN</div>
              </div>
            </div>
            <div class="card">
              <a href="product.html">
                <!-- image size: 680px by 830px -->
                <img class="medium" src=".\Images\BarbatosLupusRexDragonKingGundam_ASW-G-08.png" alt="product" />
              </a>
              <div class="card-body">
                <a href="product.html">
                  <h2>Barbatos-LupusRex Dragon King  </h2>
                </a>
                <div class="rating">
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                  <span> <i class="fa fa-star"></i> </span>
                </div>
                <div class="price">$210.00CAN</div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <footer class="row center">All right reserved</footer>
    </div>
    <script>
    function openMenu() {
      document.querySelector(".sidebar").classList.add("open");
    }
    function closeMenu() {
      document.querySelector(".sidebar").classList.remove("open")
    }
  </script>
  </body>
</html>